body, input {
    font-family: 'Segoe UI Light', 'Open Sans', 'Helvetica Neue', Helvetica, 'Segoe UI', 'Lucida Grande', Arial, sans-serif;
    background-color: #eff4ff;
}

hr {
    border: none;
    background: #ddd;
    height: 1px;
}

a {
    color: #15C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    outline: 0;
    border: 1px solid #d9d9d9;
    padding: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid #919191;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.action-button {
    outline: 0;
    display: block;
    margin: 0;
    border: none;
    width: 100%;
    font: bold 15px Arial, sans-serif;
    line-height: 30px;
    color: #fff;
    background-color: #777;
    cursor: pointer;
    -webkit-transition: 0.30s;
    transition: 0.30s;
}
.action-button:hover {
    color: #f2f2f2;
    background-color: #333;
}
.action-button:disabled {
    background-color: #999!important;
    color: #777;
    cursor: default;
}

.emphasize {
    font: bold 20px Arial,sans-serif;
    border-bottom: 3px solid #777;
}

.application-name {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 60px;
    color: #b91d47;
}

.application-name .version {
    font-size: 30px;
    color: #2d89ef;
}

.content:after {
    display: block;
    content: '';
    clear: both;
}

.game-menu {
    margin-top: 20px;
    padding: 10px 0 20px 0;
    float: right;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #2e92cf;
    color: #fff;
}

.game-menu h3 {
    margin: 15px 10px 0 10px;
}

.game-menu p {
    font-size: 13px;
    margin: 0 5px 0 20px;
}

.game-menu button {
    margin-top: 10px;
    background-color: #16499a;
}

.game-menu button:hover {
    color: #f2f2f2;
    background-color: #1e347b;
}

.captcha {
    float: right;
    width: 150px;
    margin: 5px 10px 5px 5px;
}

.captcha img {
    border: 1px solid #f2f2f2;
    display: block;
    width: 100%;
    max-height: 60px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.captcha input {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#player-name-input {
    display: block;
    font: bold 15px Arial, sans-serif;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    border: none;
    background-color: #eff4ff;
}

#game-id-input {
    display: block;
    font: bold 13px Arial, sans-serif;
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.game-info {
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 22px;
}
.game-info p {
    margin-left: 20px;
}

.footer {
    margin-top: 100px;
    font-size: 13px;
    color: #999;
}

.author-links {
    float: right;
}

.misc-attributions {
    margin-top: 20px;
    padding: 7px 0;
    text-align: center;
    background-color: #d5e7ec;
}

/* game UI styles */

.game-message {
    margin-top: 50px;
    text-align: center;
    height: 50px;
    overflow-y: auto;
    height: 100px;
}

.game-board-container {
    width: 700px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game-board {
    border: 1px solid #008080;
    border-spacing: 0;
    background-color: #fff;
}

#game-board tr:nth-child(1),
#game-board tr:nth-child(2),
#game-board tr:nth-child(3),
#game-board tr:nth-child(6),
#game-board tr:nth-child(7),
#game-board tr:nth-child(8) {
    background-color: #e5e5e5;
}

#game-board td {
    border: 1px solid #008080;
    width: 75px;
    height: 54px;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game-board td.target {
    background-color: #fa6800;
}

#game-board td.initialized:hover {
    background-color: #ccc;
    cursor: pointer;
}

#game-board td.challengeable:hover {
    background-color: #ff00ff;
    cursor: crosshair;
}

#game-board td.possible-move {
    background-color: #f0a30a;
    cursor: cell;
}

.game-piece {
    width: 70px;
    height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 2px solid #1e347b;
    border-radius: 3px;
    background-color: #16499a;
    cursor: pointer;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-piece.selected {
    background-color: #000;
}
.game-piece.opponent {
    background-color: #ff0000;
}

.game-statistics-container {
    float: right;
    width: 220px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: #121212;
}

.game-statistics-container h3 {
    margin: 0;
    margin-top: 10px;
    background-color: #eee;
    color: #777;
}
.game-statistics-container .game-id {
    font: bold 40px Georgia, serif;
    color: #0000FF;
}

.fallen-pieces {
    height: 232px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.fallen-pieces table {
    font-family: Arial,sans-serif;
    font-size: 13px;
    width: 100%;
}
.fallen-pieces table th {
    text-align: center;
}
.fallen-pieces table th:first-child {
    width: 50%;
}
.fallen-pieces table td {
    vertical-align: top;
}
.fallen-pieces ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default;
}
.fallen-pieces ul li {
    padding-top: 2px;
}
.fallen-pieces ul li:hover {
    background-color: #eee;
}

#game-action-button {
    background-color: #128023;
}
#game-action-button:hover {
    background-color: #12c023;
}
